{{template "base" .}}

{{define "title"}}
    <title>О нас</title>
{{end}}

{{define "content"}}
    <p class="fs-6 fw-semibold mt-3 ms-3">ИНДИВИДУАЛЬНЫЙ ПРЕДПРИНИМАТЕЛЬ НАСЫРОВА ОЛЬГА СЕРГЕЕВНА</p>
    <p class="ms-3">196233, г. Санкт-Петербург, пр. Витебский, д79к1 ЛитА</p>
    <p class="ms-3">Телефон: <a class="underline" href="tel:+7 812 410 00 80">+7 812 410 00 80</a></p>

    <p class="ms-3">Email:</p>

    <p class="ms-3">ИНН: 5017128227</p>
    <div class="container">
        <div class="row">
            <div class="col">


            </div>
        </div>
    </div>
{{end}}